.auth-block {  display: flex; background-color: #f9fcff; }
.auth-block>div { 
    margin: auto; background: #ffffff; min-width: 18rem; max-width: 22rem; width: 100%; box-shadow: 0 5px 20px 0 #151b2614; padding: 0.5rem 1.3rem 2rem 1.3rem;
}
.auth-logo-block { text-align: center; padding: 2rem;}
.auth-logo-block>img { height: 5rem; width:  auto; }
.link { color: #6f7782 !important; padding-top: 0.5rem; text-decoration: underline !important; text-align: right;}
.link:hover { color: #4f5358 !important; }

@media (max-width: 576px) { 
    .auth-block>div { padding: 2rem 1.3rem !important; }
 }